.main1 {
    width: 80%;
    justify-content: center;
    align-content: center;
    background-color: rgb(60, 145, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    display: flex;
}

.container1 {
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
}